PORT="4000"
DATABASE_PASSWORD="MONGODB_CLUSTER_PASSWORD"
DATABASE="mongodb+srv://USERNAME:<PASSWORD>@cluster1.2zwx3cm.mongodb.net/?retryWrites=true&w=majority&appName=RemindersApp"
JWT_SECRET="JWT_KEY"