@import url(https://db.onlinewebfonts.com/c/060fd297f19446447a9a1325ad5b889b?family=SF+Pro+Rounded);

*,
*:after,
*:before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

#root {
	font-family: 'SF Pro Rounded';
}